# Animal Crosing New Horizons Data Analysis

ACNH is the latest installment of the Animal Crossing franchise by Nintendo released in March of 2020; it's a "life simulation" game whereby a character can build and create a home on an island filled with animals all having various personalities! There's no right way of playing this game as there's a load of options for interactions with the various villagers that will eventually move onto and off of the players' island, as well as customization options for the player's own house. There's also the possibility of having more bells (the in game currency) than imaginable!

Kaggle.com has a dataset made of 30 tables about this game, containing information ranging from villages to items broken down by category. 

Given some of these datasets I'd like to find some insights regarding the villagers and the economy of the island.


1. What's the distribution of genders across the villagers?
    * What are their potential personality types?
    * What are the species of the villagers?
    * What are their hobbies?
2. What items can be DIY'd?
    * Is it profitable to DIY items that can be bought in Nook's Cranny (the island's store) or from Tom Nook (the island's manager)?
3. What is the highest selling item the player can find that can be sold?

In [1]:
# First import the libaries that will be used throughout the project

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
# The datasets need to be loaded in using pandas

villagers = pd.read_csv('villagers.csv')
diy_recipes = pd.read_csv('recipes.csv')
fish = pd.read_csv('fish.csv')
insects = pd.read_csv('insects.csv')
fossils = pd.read_csv('fossils.csv')

In [3]:
# Let's examine the dataframes

villagers.info()
villagers.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             391 non-null    object
 1   Species          391 non-null    object
 2   Gender           391 non-null    object
 3   Personality      391 non-null    object
 4   Hobby            391 non-null    object
 5   Birthday         391 non-null    object
 6   Catchphrase      391 non-null    object
 7   Favorite Song    391 non-null    object
 8   Style 1          391 non-null    object
 9   Style 2          391 non-null    object
 10  Color 1          391 non-null    object
 11  Color 2          391 non-null    object
 12  Wallpaper        391 non-null    object
 13  Flooring         391 non-null    object
 14  Furniture List   391 non-null    object
 15  Filename         391 non-null    object
 16  Unique Entry ID  391 non-null    object
dtypes: object(17)
memory usage: 52.1+ KB

,Name,Species,Gender,Personality,Hobby,Birthday,Catchphrase,Favorite Song,Style 1,Style 2,Color 1,Color 2,Wallpaper,Flooring,Furniture List,Filename,Unique Entry ID
0,Admiral,Bird,Male,Cranky,Nature,27-Jan,aye aye,Steep Hill,Cool,Cool,Black,Blue,dirt-clod wall,tatami,717;1849;7047;2736;787;5970;3449;3622;3802;410...,brd06,B3RyfNEqwGmcccRC3
1,Agent S,Squirrel,Female,Peppy,Fitness,2-Jul,sidekick,Go K.K. Rider,Active,Simple,Blue,Black,concrete wall,colorful tile flooring,7845;7150;3468;4080;290;3971;3449;1708;4756;25...,squ05,SGMdki6dzpDZyXAw5
2,Agnes,Pig,Female,Big Sister,Play,21-Apr,snuffle,K.K. House,Simple,Elegant,Pink,White,gray molded-panel wall,arabesque flooring,4129;7236;7235;7802;896;3428;4027;7325;3958;71...,pig17,jzWCiDPm9MqtCfecP
3,Al,Gorilla,Male,Lazy,Fitness,18-Oct,ayyyeee,Go K.K. Rider,Active,Active,Red,White,concrete wall,green rubber flooring,1452;4078;4013;833;4116;3697;7845;3307;3946;39...,gor08,LBifxETQJGEaLhBjC
4,Alfonso,Alligator,Male,Lazy,Play,9-Jun,it'sa me,Forest Life,Simple,Simple,Red,Blue,yellow playroom wall,green honeycomb tile,4763;3205;3701;1557;3623;85;3208;3584;4761;121...,crd00,REpd8KxB8p9aGBRSE

In [4]:
diy_recipes.info()
diy_recipes.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               595 non-null    object
 1   #1                 595 non-null    int64
 2   Material 1         595 non-null    object
 3   #2                 325 non-null    float64
 4   Material 2         325 non-null    object
 5   #3                 120 non-null    float64
 6   Material 3         120 non-null    object
 7   #4                 50 non-null     float64
 8   Material 4         50 non-null     object
 9   #5                 27 non-null     float64
 10  Material 5         27 non-null     object
 11  #6                 18 non-null     float64
 12  Material 6         18 non-null     object
 13  Buy                595 non-null    object
 14  Sell               595 non-null    int64
 15  Miles Price        29 non-null     float64
 16  Source             595 non-null    object
 17  Source Notes       187 non-null    object
 18  Recipes to Unlock  595 non-null    int64
 19  Version            595 non-null    object
 20  Category           595 non-null    object
 21  Serial ID          595 non-null    int64
 22  Internal ID        595 non-null    int64
 23  Unique Entry ID    595 non-null    object
dtypes: float64(6), int64(5), object(13)
memory usage: 111.7+ KB

,Name,#1,Material 1,#2,Material 2,#3,Material 3,#4,Material 4,#5,...,Sell,Miles Price,Source,Source Notes,Recipes to Unlock,Version,Category,Serial ID,Internal ID,Unique Entry ID
0,acorn pochette,6,acorn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,200,NaN,Balloons,Only available during Fall,0,1.0.0,Bags,2982,632,a9FFbP64fTcJ3Cn5E
1,acoustic guitar,8,softwood,3.0,iron nugget,NaN,NaN,NaN,NaN,NaN,...,200,NaN,Smug villagers,NaN,0,1.0.0,Housewares,406,44,Y62RymJYgbmZEyQon
2,angled signpost,2,hardwood,3.0,softwood,NaN,NaN,NaN,NaN,NaN,...,200,NaN,Lazy villagers,NaN,100,1.0.0,Housewares,440,510,BNiDaivRjGNzCckWw
3,apple chair,10,apple,4.0,wood,NaN,NaN,NaN,NaN,NaN,...,200,NaN,Big Sister villagers,NaN,100,1.0.0,Housewares,1700,189,HB55bMQf4D57ekNf4
4,apple dress,8,apple,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,200,NaN,Big Sister villagers,NaN,100,1.0.0,Dresses,1782,621,KmfTvhh3qeyd6WcFJ

In [5]:
fish.info()
fish.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   #                        80 non-null     int64
 1   Name                     80 non-null     object
 2   Sell                     80 non-null     int64
 3   Where/How                80 non-null     object
 4   Shadow                   80 non-null     object
 5   Total Catches to Unlock  80 non-null     int64
 6   Spawn Rates              80 non-null     object
 7   Rain/Snow Catch Up       80 non-null     object
 8   NH Jan                   31 non-null     object
 9   NH Feb                   31 non-null     object
 10  NH Mar                   35 non-null     object
 11  NH Apr                   39 non-null     object
 12  NH May                   44 non-null     object
 13  NH Jun                   55 non-null     object
 14  NH Jul                   58 non-null     object
 15  NH Aug                   60 non-null     object
 16  NH Sep                   63 non-null     object
 17  NH Oct                   42 non-null     object
 18  NH Nov                   37 non-null     object
 19  NH Dec                   32 non-null     object
 20  SH Jan                   58 non-null     object
 21  SH Feb                   60 non-null     object
 22  SH Mar                   63 non-null     object
 23  SH Apr                   42 non-null     object
 24  SH May                   37 non-null     object
 25  SH Jun                   32 non-null     object
 26  SH Jul                   31 non-null     object
 27  SH Aug                   31 non-null     object
 28  SH Sep                   35 non-null     object
 29  SH Oct                   39 non-null     object
 30  SH Nov                   44 non-null     object
 31  SH Dec                   55 non-null     object
 32  Color 1                  80 non-null     object
 33  Color 2                  80 non-null     object
 34  Size                     80 non-null     object
 35  Lighting Type            80 non-null     object
 36  Icon Filename            80 non-null     object
 37  Critterpedia Filename    80 non-null     object
 38  Furniture Filename       80 non-null     object
 39  Internal ID              80 non-null     int64
 40  Unique Entry ID          80 non-null     object
dtypes: int64(4), object(37)
memory usage: 25.8+ KB

,#,Name,Sell,Where/How,Shadow,Total Catches to Unlock,Spawn Rates,Rain/Snow Catch Up,NH Jan,NH Feb,...,SH Dec,Color 1,Color 2,Size,Lighting Type,Icon Filename,Critterpedia Filename,Furniture Filename,Internal ID,Unique Entry ID
0,56,anchovy,200,Sea,Small,0,2–5,No,4 AM – 9 PM,4 AM – 9 PM,...,4 AM – 9 PM,Blue,Red,1x1,No lighting,Fish81,FishAntyobi,FtrFishAntyobi,4201,LzuWkSQP55uEpRCP5
1,36,angelfish,3000,River,Small,20,2–5,No,NaN,NaN,...,4 PM – 9 AM,Yellow,Black,1x1,Fluorescent,Fish30,FishAngelfish,FtrFishAngelfish,2247,XTCFCk2SiuY5YXLZ7
2,44,arapaima,10000,River,XX-Large,50,1,Yes,NaN,NaN,...,4 PM – 9 AM,Black,Blue,3x2,No lighting,Fish36,FishPiraruku,FtrFishPiraruku,2253,mZy4BES54bqwi97br
3,41,arowana,10000,River,Large,50,1–2,No,NaN,NaN,...,4 PM – 9 AM,Yellow,Black,2x1,Fluorescent,Fish33,FishArowana,FtrFishArowana,2250,F68AvCaqddBJL7ZSN
4,58,barred knifejaw,5000,Sea,Medium,20,3–5,No,NaN,NaN,...,All day,White,Black,1x1,Fluorescent,Fish47,FishIshidai,FtrFishIshidai,2265,X3R9SFSAaDzBF4fE3

In [6]:
insects.info()
insects.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   #                        80 non-null     int64
 1   Name                     80 non-null     object
 2   Sell                     80 non-null     int64
 3   Where/How                80 non-null     object
 4   Weather                  80 non-null     object
 5   Total Catches to Unlock  80 non-null     int64
 6   Spawn Rates              80 non-null     object
 7   NH Jan                   20 non-null     object
 8   NH Feb                   21 non-null     object
 9   NH Mar                   27 non-null     object
 10  NH Apr                   36 non-null     object
 11  NH May                   43 non-null     object
 12  NH Jun                   48 non-null     object
 13  NH Jul                   61 non-null     object
 14  NH Aug                   63 non-null     object
 15  NH Sep                   51 non-null     object
 16  NH Oct                   34 non-null     object
 17  NH Nov                   27 non-null     object
 18  NH Dec                   20 non-null     object
 19  SH Jan                   61 non-null     object
 20  SH Feb                   63 non-null     object
 21  SH Mar                   51 non-null     object
 22  SH Apr                   34 non-null     object
 23  SH May                   27 non-null     object
 24  SH Jun                   20 non-null     object
 25  SH Jul                   20 non-null     object
 26  SH Aug                   21 non-null     object
 27  SH Sep                   27 non-null     object
 28  SH Oct                   36 non-null     object
 29  SH Nov                   43 non-null     object
 30  SH Dec                   48 non-null     object
 31  Color 1                  80 non-null     object
 32  Color 2                  80 non-null     object
 33  Icon Filename            80 non-null     object
 34  Critterpedia Filename    80 non-null     object
 35  Furniture Filename       80 non-null     object
 36  Internal ID              80 non-null     int64
 37  Unique Entry ID          80 non-null     object
dtypes: int64(4), object(34)
memory usage: 23.9+ KB

,#,Name,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates,NH Jan,NH Feb,NH Mar,...,SH Oct,SH Nov,SH Dec,Color 1,Color 2,Icon Filename,Critterpedia Filename,Furniture Filename,Internal ID,Unique Entry ID
0,10,agrias butterfly,3000,Flying near flowers,Any except rain,20,5,NaN,NaN,NaN,...,8 AM – 5 PM,8 AM – 5 PM,8 AM – 5 PM,Pink,Green,Ins6,InsectMiirotateha,FtrInsectMiirotateha,620,aj95rMzdbSbvZy9A2
1,69,ant,80,On rotten turnips,Any weather,0,0,All day,All day,All day,...,All day,All day,All day,Black,White,Ins26,InsectAri,FtrInsectAri,588,QZpmczZu4hW2a4Rpv
2,14,Atlas moth,3000,On trees (any kind),Any weather,20,5,NaN,NaN,NaN,...,7 PM – 4 AM,7 PM – 4 AM,7 PM – 4 AM,Orange,Yellow,Ins10,InsectYonagunisan,FtrInsectYonagunisan,652,u2GhYQJXDCQKp7AQ8
3,68,bagworm,600,Shaking trees (hardwood or cedar only),Any weather,0,50,All day,All day,All day,...,All day,All day,All day,Brown,Blue,Ins36,InsectMinomushi,FtrInsectMinomushi,622,QvxgCm82JqHsDknY4
4,34,banded dragonfly,4500,Flying near water,Any except rain,50,7,NaN,NaN,NaN,...,NaN,8 AM – 5 PM,8 AM – 5 PM,Black,Yellow,Ins24,InsectOniyanma,FtrInsectOniyanma,635,pCFep58D6QusMSvR7

In [7]:
fossils.info()
fossils.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             73 non-null     object
 1   Buy              73 non-null     object
 2   Sell             73 non-null     int64
 3   Color 1          73 non-null     object
 4   Color 2          73 non-null     object
 5   Size             73 non-null     object
 6   Source           73 non-null     object
 7   Museum           73 non-null     object
 8   Version          73 non-null     object
 9   Interact         73 non-null     object
 10  Catalog          73 non-null     object
 11  Filename         73 non-null     object
 12  Internal ID      73 non-null     int64
 13  Unique Entry ID  73 non-null     object
dtypes: int64(2), object(12)
memory usage: 8.1+ KB

,Name,Buy,Sell,Color 1,Color 2,Size,Source,Museum,Version,Interact,Catalog,Filename,Internal ID,Unique Entry ID
0,acanthostega,NFS,2000,Beige,Brown,1x1,Assessing fossils,Room 1,1.0.0,No,Not for sale,FtrFossilFirstFourLegs,4664,LQkRP3kBn3T2jBboF
1,amber,NFS,1200,Yellow,Yellow,1x1,Assessing fossils,Room 1,1.0.0,No,Not for sale,FtrFossilAmber,294,ANAhATcHWvAGEhRnt
2,ammonite,NFS,1100,Beige,Brown,1x1,Assessing fossils,Room 1,1.0.0,No,Not for sale,FtrFossilAmmonoidea,295,ojNKnr4YRrmPi2gPo
3,ankylo skull,NFS,3500,Brown,Brown,2x2,Assessing fossils,Room 2,1.0.0,No,Not for sale,FtrFossilAnkylosaurusA,169,QQjxKmQ8Aac9cSoM2
4,ankylo tail,NFS,2500,Brown,Brown,2x2,Assessing fossils,Room 2,1.0.0,No,Not for sale,FtrFossilAnkylosaurusC,171,wLWBm2R727RC3qSL2

# Data Cleaning

We can now see that there's a lot of extra data included in these dataframes! We could probably do well with dropping columns from them that we won't be using such as "Filename", "Internal ID", "Unique Entry ID" and anything else that's been assigned internally for the game to keep track of assests. 

It's also apparent that there a lot of NaN entries on our diy_recipes dataframe. Those can be dropped as well for ease later if we wanted to see which materials make up the bulk of the diy recipes that are found.

In [8]:
# We'll start by dropping unneeded columns from our dataframes. 

villagers = villagers.drop(axis = 1, columns=['Wallpaper', 'Flooring', 'Furniture List', 'Filename', 'Unique Entry ID'])

villagers.head()

,Name,Species,Gender,Personality,Hobby,Birthday,Catchphrase,Favorite Song,Style 1,Style 2,Color 1,Color 2
0,Admiral,Bird,Male,Cranky,Nature,27-Jan,aye aye,Steep Hill,Cool,Cool,Black,Blue
1,Agent S,Squirrel,Female,Peppy,Fitness,2-Jul,sidekick,Go K.K. Rider,Active,Simple,Blue,Black
2,Agnes,Pig,Female,Big Sister,Play,21-Apr,snuffle,K.K. House,Simple,Elegant,Pink,White
3,Al,Gorilla,Male,Lazy,Fitness,18-Oct,ayyyeee,Go K.K. Rider,Active,Active,Red,White
4,Alfonso,Alligator,Male,Lazy,Play,9-Jun,it'sa me,Forest Life,Simple,Simple,Red,Blue

In [9]:
diy_recipes = diy_recipes.drop(axis= 1, columns=['#1', '#2', '#3', '#4', '#5', '#6','Unique Entry ID', 'Internal ID', 'Serial ID', 'Version', 'Source Notes', 'Recipes to Unlock'])

diy_recipes.head()

,Name,Material 1,Material 2,Material 3,Material 4,Material 5,Material 6,Buy,Sell,Miles Price,Source,Category
0,acorn pochette,acorn,NaN,NaN,NaN,NaN,NaN,NFS,200,NaN,Balloons,Bags
1,acoustic guitar,softwood,iron nugget,NaN,NaN,NaN,NaN,NFS,200,NaN,Smug villagers,Housewares
2,angled signpost,hardwood,softwood,NaN,NaN,NaN,NaN,NFS,200,NaN,Lazy villagers,Housewares
3,apple chair,apple,wood,NaN,NaN,NaN,NaN,NFS,200,NaN,Big Sister villagers,Housewares
4,apple dress,apple,NaN,NaN,NaN,NaN,NaN,NFS,200,NaN,Big Sister villagers,Dresses

In [10]:
diy_recipes = diy_recipes.fillna(0)

diy_recipes.head()

,Name,Material 1,Material 2,Material 3,Material 4,Material 5,Material 6,Buy,Sell,Miles Price,Source,Category
0,acorn pochette,acorn,0,0,0,0,0,NFS,200,0.0,Balloons,Bags
1,acoustic guitar,softwood,iron nugget,0,0,0,0,NFS,200,0.0,Smug villagers,Housewares
2,angled signpost,hardwood,softwood,0,0,0,0,NFS,200,0.0,Lazy villagers,Housewares
3,apple chair,apple,wood,0,0,0,0,NFS,200,0.0,Big Sister villagers,Housewares
4,apple dress,apple,0,0,0,0,0,NFS,200,0.0,Big Sister villagers,Dresses

In [11]:
# We can create a new table out of just the materials used in Diy recipes for future analysis here if we'd like

diy_materials = diy_recipes[diy_recipes.columns[0:6]]

diy_materials.head()

              Name Material 1   Material 2 Material 3 Material 4 Material 5
0   acorn pochette      acorn            0          0          0          0
1  acoustic guitar   softwood  iron nugget          0          0          0
2  angled signpost   hardwood     softwood          0          0          0
3      apple chair      apple         wood          0          0          0
4      apple dress      apple            0          0          0          0

In [12]:
fish = fish.drop(axis=1, columns=fish.columns[8:41])

fish.head()

,#,Name,Sell,Where/How,Shadow,Total Catches to Unlock,Spawn Rates,Rain/Snow Catch Up
0,56,anchovy,200,Sea,Small,0,2–5,No
1,36,angelfish,3000,River,Small,20,2–5,No
2,44,arapaima,10000,River,XX-Large,50,1,Yes
3,41,arowana,10000,River,Large,50,1–2,No
4,58,barred knifejaw,5000,Sea,Medium,20,3–5,No

In [13]:
insects = insects.drop(axis= 1, columns=insects.columns[7:38])
insects.head()

,#,Name,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates
0,10,agrias butterfly,3000,Flying near flowers,Any except rain,20,5
1,69,ant,80,On rotten turnips,Any weather,0,0
2,14,Atlas moth,3000,On trees (any kind),Any weather,20,5
3,68,bagworm,600,Shaking trees (hardwood or cedar only),Any weather,0,50
4,34,banded dragonfly,4500,Flying near water,Any except rain,50,7

In [19]:
fossils = fossils.drop(axis= 1, columns=fossils.columns[9:16])

fossils.head()

,Name,Buy,Sell,Color 1,Color 2,Size,Source,Museum,Version
0,acanthostega,NFS,2000,Beige,Brown,1x1,Assessing fossils,Room 1,1.0.0
1,amber,NFS,1200,Yellow,Yellow,1x1,Assessing fossils,Room 1,1.0.0
2,ammonite,NFS,1100,Beige,Brown,1x1,Assessing fossils,Room 1,1.0.0
3,ankylo skull,NFS,3500,Brown,Brown,2x2,Assessing fossils,Room 2,1.0.0
4,ankylo tail,NFS,2500,Brown,Brown,2x2,Assessing fossils,Room 2,1.0.0

In [30]:
# It would be nice to have a table of just the names and prices of objects that the player can find so those can be 
# examined separately from their respective object lits.

fish_prices = fish[fish.columns[1:3]]

insect_prices = insects[insects.columns[1:3]]

fossil_prices = fossils[fossils.columns[:3]].drop(axis=1, columns='Buy')

found_objects = [fish_prices, insect_prices, fossil_prices]

found_object_prices = pd.concat(found_objects)

found_object_prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 233 entries, 0 to 72
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    233 non-null    object
 1   Sell    233 non-null    int64
dtypes: int64(1), object(1)
memory usage: 5.5+ KB

## Data Exploration

Now that the dataframes have been rid of unnecessary columns and NaN values have been removed from them, we can start to explore them in a little more depth. By doing so we can begin to answer some questions rergarding the basics of what's inside these dataframes.

In [ ]:
# To begin we'll look at the villagers dataframe. 

villagers.Personality.unique()

In [ ]:
villagers.Species.unique()

In [ ]:
villagers.Hobby.unique()